[Desktop Entry]
Type=Application
Name=Ginger
Comment=Ginger for Snaps
Exec=ginger
Icon=io.github.massivemarmot.Ginger
Terminal=false
Categories=GNOME;GTK;System;
Keywords=snap;permissions;
